<!DOCtype html>
<html>
<head>
    <title>Repl-Nix Journey</title>
    <link rel="stylesheet" href="./static/main.css">
</head>
<body>
    <div id="container">
    <h1>Jovian Carrears</h1>
    <img id="banner" src="./static/banner.jpg" height=320px>
    <h2>About Jovian</h2>
    <p  class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A cras semper auctor neque. Adipiscing elit ut aliquam purus. Interdum velit euismod in pellentesque. Ullamcorper velit sed ullamcorper morbi. Et ultrices neque ornare aenean euismod elementum nisi quis. Ultricies integer quis auctor elit sed. Massa enim nec dui nunc mattis. Tellus molestie nunc non blandit massa enim nec. Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Diam in arcu cursus euismod quis. Viverra justo nec ultrices dui sapien eget. Non nisi est sit amet. Magnis dis parturient montes nascetur ridiculus mus mauris vitae. Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque.</p>
    <h2>Open Positions</h2>
    <p class="bodytext">TODO -- Show the jobs here!</p>
    <div id="contact-form">
    <button>Contact Us</button>
    </div>
        <p style="text-align: center; font-family: verdana; font-size: 8px">Copyright 2029, Fatball</p>
    </div>
</body>

  
</html>